@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Styles communs */

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Partie gauche */

.sidebar {
    position: fixed;
    align-items: center;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    border-right: 1px solid #FFF;
}

.sidebar img {

    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
    border-bottom: brown solid 2px;

}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

nav a {
    color: #fff;
    text-decoration: none;

}


nav li a:hover {

    color: red;
}

nav a.active {
    color: red;
}

nav li i {

    padding: 5px;
    margin-left: -15px;

}

/* Sections */

.content {
    margin-left: 250px;
    /* On prend en compte la largeur de la colonne de gauche */

}

section {

    border-bottom: 2px solid #ccc;
    padding: 20px;
    background-image: url('/images/fond.png');

}

/* Liens actifs */


ul {

    list-style: none;

}

nav ul li {

    margin-bottom: 27px;

}


.imgid {

    width: 290px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 3px rgb(61, 61, 61);
    justify-content: center;
    margin-top: -30px;

}

.main-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.image-container {
    width: 100%;
    height: 350px;
    text-align: center;
    /* border: rgb(0, 76, 255) solid 3px; */

}

.image-container img {
    max-width: 100%;
    height: auto;
    border: rgb(79, 78, 78) solid 3px;
}

.text-container {
    height: 30%;
    width: 90%;
    text-align: center;
    border: rgb(79, 78, 76) solid 3px;
    border-radius: 10px;
    background-color: #b2cacc;
    padding: 20px;

}


.project-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;

}

#projets img {

    height: 200px;

}

#projets button a {

    font-size: 20px;
    padding: 5px;
    text-decoration: none;

}


#projets button {

    height: 40px;
    width: 80px;
    border-radius: 8px;
    background-color: #b2cacc;
    border: 2px solid brown;

}

.project-card {
    border: 2px solid brown;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: white;
}

.project-card img {

    border-radius: 6px;

}



#SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 70%;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;

}



.SkillBar {
    border-radius: 20px;
    width: 80%;
    height: 40px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}

.Skill-HTML {
    border-radius: 20px;
    width: 70%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 40px;
    position: absolute;
    background-color: #ea8564;
}

@keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-webkit-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-moz-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-o-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}


.Skill-CSS {
    border-radius: 20px;
    animation: Animate-CSS 4s;
    -webkit-animation: Animate-CSS 4s;
    -moz-animation: Animate-CSS 4s;
    -o-animation: Animate-CSS 4s;
    width: 65%;
    height: 40px;
    position: absolute;
    background-color: #55a69f;
}

@keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}

@-webkit-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}

@-moz-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}

@-o-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}

.Skill-BOOTSTRAP {
    border-radius: 20px;
    animation: Animate-BOOTSTRAP 4s;
    -webkit-animation: Animate-BOOTSTRAP 4s;
    -moz-animation: Animate-BOOTSTRAP 4s;
    -o-animation: Animate-BOOTSTRAP 4s;
    width: 60%;
    height: 40px;
    position: absolute;
    background-color: #eea632;
}

@keyframes Animate-BOOTSTRAP {
    from {
        width: 10px;
    }

    to {
        width: 60%;
    }
}

@-webkit-keyframes Animate-BOOTSTRAP {
    from {
        width: 10px;
    }

    to {
        width: 60%;
    }
}

@-moz-keyframes Animate-BOOTSTRAP {
    from {
        width: 10px;
    }

    to {
        width: 60%;
    }
}

@-o-keyframes Animate-BOOTSTRAP {
    from {
        width: 10px;
    }

    to {
        width: 60%;
    }
}



.Skill-JS {
    border-radius: 20px;
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 50%;
    height: 40px;
    position: absolute;
    background-color: #c44e45;
}

@keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 50%;
    }
}

@-webkit-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 50%;
    }
}


@-moz-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 50%;
    }
}

@-o-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 50%;
    }
}


.Skill-PHP {
    border-radius: 20px;
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 65%;
    height: 40px;
    position: absolute;
    background-color: #5A69A6;
}

@keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}

@-webkit-keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}

@-moz-keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}

@-o-keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}

.Skill-SQL {
    border-radius: 20px;
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 65%;
    height: 40px;
    position: absolute;
    background-color: #23b1db;
}

@keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}

@-webkit-keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 80%;
    }
}

@-moz-keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}

@-o-keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 65%;
    }
}


.Skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}

.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 12px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}


footer {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: brown 2px solid;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.social-icons a {
    margin: 0 15px;
}

.social-icons a:hover {
    font-size: 50px;
}

.contact {

    border-radius: 8px;
    background-color: #23b1db;
    height: 30px;
    width: 130px;
    font-size: 18px;
}

.contact:hover {

    border-radius: 8px;
    background-color: brown;
    height: 30px;
    width: 130px;
    font-size: 18px;
    color: white;
}

.titre {
    animation-duration: 3s;
    animation-name: slidein;
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 70px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.but {
    background-color: #9dd7dd;
    border: solid 2px brown;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    font-size: 18px;
    margin-top: 150px;
    margin-bottom: 22px;
}

.but:hover {
    border: 2px solid #9dd7dd;
    background-color: brown;

}

.nom {

    font-family: Clicker Script;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #9dd7dd;

}

.texte {

    font-size: 24px;

}

.burger {

    display: none;
}

@media screen and (max-width:600px) {

    .content {

        margin-left: 0px;
    }

    .sidebar {

        display: none;
        z-index: 10;
    }

    .PercentText {

        font-size: 12px;
    }

    .Skill-Area {

        font-size: 12px;


    }

    #SkillBox {

        width: 100%;

    }

    .but {

        margin-top: 190px;
    }

    .project-section {

        display: grid;
        grid-template-columns: 1fr;

    }

    .titre {

        font-size: 25px;
    }

    .imgid {

        width: 70%;

    }

    .nom {

        font-size: 30px;

    }

    .texte {

        font-size: 22px;
    }

    .project-card {

        width: 100%;

    }

    .project-card img {

        width: 100%;

    }

    .burger {

        display: block;
        position: fixed;

    }

    .burger img {

        width: 8%;
        margin-top: -10px;


    }

    .contact {

        height: 40px;
        width: 100px;
        font-size: 14px;
    }

}

@media screen and (max-width:800px) {

    .but {

        margin-top: 200px;

    }

    .PercentText {

        font-size: 16px;
    }

    .Skill-Area {

        font-size: 16px;


    }

    #SkillBox {

        width: 100%;

    }

    .project-section {

        display: grid;
        grid-template-columns: 1fr;

    }

}

@media screen and (max-width:1200px) {

    .but {

        margin-top: 200px;

    }

    .PercentText {

        font-size: 16px;
    }

    .Skill-Area {

        font-size: 16px;


    }

    #SkillBox {

        width: 100%;

    }

    .project-section {

        display: grid;
        grid-template-columns: 1fr;

    }

}